body {
    background: linear-gradient(135deg, #3494E6, #EC6EAD);
    background-size: cover;
    overflow: hidden;
    animation: move 15s linear infinite;
    background-size: 400%;
}

@keyframes move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator-heading {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: linear-gradient(to right, #3494E6, #EC6EAD);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.author-name {
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 10px;
}

input {
    display: grid;
    grid-column: span 4;
    height: 95px;
    width: 300px;
    border: none;
    border-radius: 12px;
    background: black;
    font-size: xx-large;
    color: white;
    text-align: end;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    border: 1px solid #565151;
    border-radius: 2px;
    padding: 12px;
    height: 450px;
    border-radius: 27px;
    background: black;
    box-shadow: 0px -2px 5px 0px #5a5a5a, 0px 2px 5px 2px black;

}

button {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    border: none;
    height: 59px;
    width: 59px;
    font-size: x-large;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.first {
    background: rgb(167 177 223);
}

.symbol {
    background: rgb(255 191 0);
}

button:active {
    background: rgb(144, 144, 199);
}

/* responsive design */
@media screen and (max-width: 768px) {
    .calculator {
        grid-template-columns: repeat(3, 1fr);

    }

}

input {
    text-align: center;
}


@media screen and (min-width: 769px) and (max-width: 1150px) {
    .calculator {
        grid-template-columns: repeat(3, 1fr);
    }
}